.carousel-hider {
    overflow: hidden;
    position: relative;
}

.carousel-absolute {
    z-index: 10; 
    position: absolute;
    width: 100%; 
    height: 100%;
}

 
.carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
    float: left;
    overflow: hidden;
}
 
.carousel-element {
    display: block;
    width: 300px;
    /* margin-right: 25px; */
    float: left;
    overflow: hidden;
}
 
.carousel-element img {
    max-width: 100px;
}
 
/* .carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
} */
 

 
.carousel-arrow-left {
    margin-right: 25px;
    position: absolute;
    z-index: 11;
}

 
.carousel-arrow-right {
    position: absolute;
    z-index: 11;
    left: 77%;
}


.js-my-page {
    clear: both;
    width: 50%;
    margin: auto;    
    text-align: center;
}

